
#chat h2.hide {
  translate: 100rem 0;
}

#chat-container {
  position: absolute;
  left: 0;
  top: 125rem;
  width: calc(100% - 50rem);
  height: calc(100% - 250rem - 50rem);
  border-radius: 50rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2.5rem white solid;
  padding: 25rem;
  overflow: auto;
}

#chat input {
  position: absolute;
  bottom: 65rem;
}

#colour {
  width: 50rem;
  height: 50rem;
  border-radius: 50rem;
  padding: 3rem 5rem;
  left: -50rem;
}

#username {
  width: calc(30% - 5rem - 25rem - 30rem);
  left: 10rem;
}

#username.hide {
  translate: 0 50rem;
}

#message {
  width: calc(70% - 5rem - 25rem - 30rem);
  right: 0;
}

#message.hide {
  translate: 100rem 0;
}

.msg {
  margin-bottom: 10rem;
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 20rem;
  padding: 10rem;
}

.msg-user {
  font-size: 30rem;
  font-family: font;
  color: white;
}

.msg-time {
  position: relative;
  left: 25rem;
  font-size: 15rem;
  font-family: font;
  color: #ccc;
  text-shadow: 0 2rem #555, 0 0 4rem black, 0 3rem 4rem black;
  top: -2.5rem;
}

.msg-text {
  margin-top: 0;
  font-size: 25rem;
  font-family: font;
  line-height: 25rem;
  margin-bottom: 5rem;
  text-shadow: 0 2rem #555, 0 0 4rem black, 0 3rem 4rem black;
}