#devlogs h2.hide {
  translate: -100rem 0;
}

#devlogs-path {
  position: absolute;
  left: 100rem;
  top: 200rem;
   background: repeating-radial-gradient(
      circle at center,
      white 0 4rem,
      transparent 1rem 16rem
    );
  background-size: 100% 16rem;
  width: 8rem;
  /* border-left: 10rem dotted white; */
  height: calc(100% - 200rem);
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
}

#devlogs-container {
  position: absolute;
  left: 120rem;
  top: 200rem;
  /* background-color: blue; */
  padding-top: 100rem;
  width: calc(100% - 120rem);
  height: calc(100% - 200rem); 
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
}

.devlog {
  position: relative;
  height: 60rem;
  width: 250rem;
  padding-left: 10rem;
  border-radius: 25rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2.5rem rgba(255, 255, 255, 0.75) solid;
  margin-bottom: 20rem;
}

.devlog-title {
  position: absolute;
  top: 20rem;
  translate: 0 -50%;
  font-size: 30rem;
  text-shadow: 0 3rem #555, 0 0 6rem black, 0 3rem 6rem black;
  font-family: font;
}

.devlog-date {
  left: 15rem;
  font-size: 20rem;
  font-family: font;
  position: absolute;
  text-shadow: 0 2rem #555, 0 0 4rem black, 0 3rem 4rem black;
  top: 35rem;
}

.devlog-description {
  display: none;
}