#projects #projects-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  /* align-items: flex-start; */
  padding: 20rem;
  width: 100%;
  height: calc(100% - 150rem);
  border-radius: 50rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2.5rem white solid;
  overflow: auto;
  position: relative;
  z-index: 10;
  /* gap: 10rem; */
}

#projects-top {
  display: flex;
  position: relative;
  align-items: center;
  height: 100rem
}

.right {
  position: absolute;
  right: 0;
  z-index: 10;
}

select {
  font-size: 30rem;
  font-family: font;
  text-shadow: 0 3rem #555, 0 0 10rem black, 0 3rem 10rem black;
  position: relative;
  z-index: 11;
  margin-right: 50rem;
  width: 150rem;
  height: 45rem;
  border-radius: 40rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 2.5rem solid white;
  padding: 0 10rem;
  transition: translate calc(var(--switch) * 0.667) ease;
}

select.hide {
  translate: 0 -25rem;
}

select:nth-child(2) {
  transition: translate calc(var(--switch) * 1.333) ease;
}

input {
  font-size: 30rem;
  font-family: font;
  text-shadow: 0 3rem #555, 0 0 10rem black, 0 3rem 10rem black;
  position: relative;
  z-index: 10;
  border-radius: 40rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 2.5rem solid white;
  padding: 0 10rem;
  margin-left: 50rem;
  width: calc(35% - 80rem);
  height: 45rem;
  transition: translate var(--switch) ease;
}

input.hide {
  translate: -100rem 0;
}

.project {
  width: 300rem;
  height: 200rem;
  margin: 5rem 5rem;
  border-radius: 20rem;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: all 0.3s ease-out;
  z-index: 0;
  cursor: pointer;
}

.project:hover {
  scale: 1.05;
  z-index: 2;
  filter: brightness(1.1);
  box-shadow: 0 0 20rem black;
}

.project-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.project-title,
.project-description,
.project-title-hide {
  font-size: 30rem;
  text-align: center;
  color: white;
  left: 50%;
  translate: -50% 0;
  width: 100%;
  text-shadow: 0 3rem #555, 0 0 10rem black, 0 3rem 10rem black;
  transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
}

.project-title,
.project-title-hide {
  position: absolute;
  bottom: 10rem;
}

.project-title-hide {
  opacity: 0;
}

.project-description {
  font-size: 20rem;
  text-shadow: 0 2rem #555, 0 0 10rem black, 0 3rem 10rem black;
}

.project .project-description,
.project .project-title-hide {
  opacity: 0;
}

.project:hover .project-description,
.project:hover .project-title-hide {
  opacity: 1;
}

.project:hover .project-title,
.project:hover .project-title-hide {
  bottom: 100%;
}

.project-clicks {
  position: absolute;
  font-size: 20rem;
  color: white;
  left: 35rem;
  top: 10rem;
  text-shadow: 0 2rem #555, 0 0 6rem black, 0 0 6rem black;
}

.project-date {
  position: absolute;
  font-size: 15rem;
  color: white;
  right: 10rem;
  top: 10rem;
  text-shadow: 0 2rem #555, 0 0 6rem black, 0 0 6rem black;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.project:hover .project-date {
  opacity: 1;
}

.project-clicks-icon {
  position: absolute;
  width: 25rem;
  height: 25rem;
  left: 10rem;
  top: 10rem;
  image-rendering: pixelated;
}

.project-github {
  position: absolute;
  width: 25rem;
  height: 25rem;
  right: 10rem;
  top: 30rem;
  background-image: url(/github.png);
  background-size: cover;
  filter: drop-shadow(0 0 4rem purple) drop-shadow(0 0 2rem black);
  opacity: 0;
  transition: opacity 0.3s ease-out, scale 0.3s ease;
}

.project:hover .project-github {
  opacity: 1;
}

.project:hover .project-github:hover {
  scale: 1.1;
}