#silver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#silver p {
  text-align: center;
  font-size: 40rem;
  text-shadow: 0 4rem #555, 0 0 8rem black, 0 4rem 8rem black;
  transition: translate var(--switch) ease;
}

#silver p.hide {
  translate: 0 50rem;
}

#silver img {
  width: 300rem;
  height: 300rem;
  transform: translate(-50%, -50%);
}

#silver #images {
  width: 700rem;
  height: 500rem;
  position: relative;
}

#main-img {
  position: absolute;
  left: 50%;
  top: 50%;
  filter: drop-shadow(0 0 10rem white);
  animation: slow-rotate 10s ease-in-out infinite;
  transition: scale var(--switch) ease, translate var(--switch) ease;
  scale: 1;
  translate: 0 0;
}

#main-img.hide {
  scale: 0;
  translate: -50% -50%;
}

#silver #images .side-img {
  width: 200rem;
  height: 200rem;
  object-fit: cover;
  transform: translate(-50%, -50%);
  /* clip-path: circle(50% at 50% 50%); */
  position: absolute;
  /* filter: drop-shadow(0 0 10rem white); */
  border-radius: 50%;
  clip-path: none;
}

#silver #images #img1 {
  background-image: url('/devlogs/shadows.webp');
  background-size: cover;
  background-position: -80rem 0;
  left: calc(50% + 150rem);
  top: calc(50% - 200rem);
  clip-path: none;
  box-shadow: 0 0 20rem lightgreen;
  animation: float 4s ease-in-out infinite;
  transition: scale calc(var(--switch) * 0.887) ease, translate calc(var(--switch) * 0.887) ease;
}

#silver #images #img1.hide, #silver #images #img3.hide {
  translate: 0 -50%;
  scale: 0;
}

#silver #images #img2.hide, #silver #images #img4.hide {
  translate: -100% -50%;
  scale: 0;
}

#img2 {
  left: calc(50% - 200rem);
  top: calc(50% + 150rem);
  background-image: url('/devlogs/the-farlands.webp');
  background-position: 50% 50%;
  background-size: 300%;
  box-shadow: 0 0 20rem lightgreen;
  animation: float 3s ease-in-out infinite;
  animation-delay: 1s;
  transition: scale calc(var(--switch) * 0.667) ease, translate calc(var(--switch) * 0.667) ease;
}

#img3 {
  left: calc(50% + 250rem);
  top: calc(50% + 100rem);
  background-image: url('/games/battle-cubes.webp');
  background-position: 50% 0;
  background-size: cover;
  box-shadow: 0 0 20rem grey;
  animation: float 3.5s ease-in-out infinite;
  animation-delay: 2s;
  transition: scale calc(var(--switch) * 1.333) ease, translate calc(var(--switch) * 1.333) ease;
}

#silver #images #img4 {
  border-radius: 50%;
  clip-path: none;
  background-image: url('/games/net-maker.png');
  background-size: 200%;
  background-position: -40rem -40rem;
  left: calc(50% - 250rem);
  top: calc(50% - 100rem);
  box-shadow: 0 0 20rem darkblue;
  animation: float 3.25s ease-in-out infinite;
  animation-delay: 3s;
  transition: scale calc(var(--switch) * 1.107) ease, translate calc(var(--switch) * 1.107) ease;
}

@keyframes float {
  0%, 100% {
    transform: translate(-50%, -50%) translate(0, 0rem) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) translate(0, -10rem) scale(1.02);
  }
}

@keyframes slow-rotate {
  from {
    transform: translate(-50%, -50%) rotate(-5deg) scale(1);
    filter: drop-shadow(0 0 10rem white);
  }
  50% {
    transform: translate(-50%, -50%) rotate(5deg) scale(1.1);
    filter: drop-shadow(0 0 5rem white);
  }
  to {
    transform: translate(-50%, -50%) rotate(-5deg) scale(1);
    filter: drop-shadow(0 0 10rem white);
  }
}

@keyframes slow-rotate-hide {
  from {
    transform: translate(-50%, -50%) rotate(-5deg) scale(0);
    filter: drop-shadow(0 0 10rem white);
  }
  50% {
    transform: translate(-50%, -50%) rotate(5deg) scale(0);
    filter: drop-shadow(0 0 5rem white);
  }
  to {
    transform: translate(-50%, -50%) rotate(-5deg) scale(0);
    filter: drop-shadow(0 0 10rem white);
  }
}