:root {
  --btnAlpha: 0.5;
  --width: 0;
  --height: 0;
  --switch: 1s;
  --title: 2s;
  --buttons: 2s;
}

@font-face {
  font-family: font;
  src: url(/font.woff2);
  font-display: block;
}

body {
  font-family: font;
  background-color: black;
  color: white;
  overflow: hidden;
  user-select: none;
}

button {
  font-family: font;
}

html {
  font-size: 1px;
}

#title h1 {
  text-align: center;
  font-size: 100rem;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#pages {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#pages button {
  margin: 2.5rem 0;
  font-size: 50rem;
  text-shadow: 0 5rem #555, 0 0 10rem black, 0 5rem 10rem black;
  position: relative;
  width: 425rem;
  height: 75rem;
  text-align: left;
  border: none;
  padding-left: 130rem;
  color: white;
  transition: width 0.2s ease-out, padding-left 0.2s ease-out, opacity 0.2s ease-out, all 0.2s ease-out;
  background-color: var(--btnColour);
  filter: drop-shadow(0 10rem 5rem var(--btnColour));
  translate: -500rem 0;
  animation: btnin 1s ease calc(var(--shift-delay) / 5) forwards, shift var(--buttons) ease-in-out calc(1s + var(--shift-delay)) infinite alternate;
}

button svg {
  position: absolute;
  left: 99.9%;
  top: 0;
  width: 75rem;
  height: 75rem;
  fill: var(--btnColour);
}

@keyframes btnin {
  from {
    translate: -500rem 0;
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  to {
    translate: -100rem 0;
    opacity: 1;
  }
}

@keyframes shift {
  from {
    translate: -100rem 0;
  }

  to {
    translate: -90rem 0;
  }
}

#pages button:hover {
  width: 462.5rem;
  padding-left: 167.5rem;
}

#pages button:disabled {
  width: 337.5rem;
  padding-left: 120rem;
  opacity: 0.5 !important;
}

.sideClick {
  animation: sideBtnClick 2s cubic-bezier(0.16, 1, 0.3, 1);
}

.sideClick:disabled {
  animation: sideBtnClickD 2s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes sideBtnClick {
  0% {
    right: 0
  }

  25% {
    right: 200rem;
    opacity: 0;
  }

  50% {
    right: 100rem;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes sideBtnClickD {
  0% {
    right: 0;
    opacity: 0.5;
  }

  25% {
    right: 200rem;
    opacity: 0;
  }

  50% {
    right: 100rem;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 0.5;
  }
}

#pages #silverBtn {
  --btnColour: rgba(0, 127, 255, var(--btnAlpha));
  --shift-delay: 0s;
}

#pages #projectsBtn {
  --btnColour: rgba(255, 0, 0, var(--btnAlpha));
  --shift-delay: calc(var(--buttons) / 5 * 1);
}

#pages #meBtn {
  --btnColour: rgba(255, 127, 0, var(--btnAlpha));
  --shift-delay: calc(var(--buttons) / 5 * 2);
}

#pages #devlogsBtn {
  --btnColour: rgba(255, 255, 0, var(--btnAlpha));
  --shift-delay: calc(var(--buttons) / 5 * 3);
}

#pages #chatBtn {
  --btnColour: rgba(0, 255, 0, var(--btnAlpha));
  --shift-delay: calc(var(--buttons) / 5 * 4);
}

#pages #extraBtn {
  --btnColour: rgba(127, 127, 127, var(--btnAlpha));
  --shift-delay: calc(var(--buttons) / 5 * 5);
}

#page {
  display: block;
  /* background-color: red; */
  opacity: 1;
  position: absolute;
  left: 0;
  top: 150rem;
  /* width: 100%; */
  left: 400rem;
  width: calc(var(--width) - 400rem);
  height: calc(var(--height) - 200rem - 50em + 100rem);
  transition: opacity 0.75s;
  /* overflow-x: visible; */
  overflow: visible;

  -webkit-mask-image:
    linear-gradient(to bottom,
      transparent 0%,
      black 50rem,
      black calc(100% - 50rem),
      transparent 100%),
    linear-gradient(to right,
      transparent 0%,
      black 50rem,
      black calc(100% - 50rem),
      transparent 100%);

  mask-image:
    linear-gradient(to bottom,
      transparent 0%,
      black 50rem,
      black calc(100% - 50rem),
      transparent 100%),
    linear-gradient(to right,
      transparent 0%,
      black 50rem,
      black calc(100% - 50rem),
      transparent 100%);

  -webkit-mask-composite: source-in;
  mask-composite: intersect;
}

.content {
  display: block;
  opacity: 1;
  position: absolute;
  width: calc(100% - 150rem);
  left: 50rem;
  height: calc(100% - 100rem);
  top: 50rem;
  /* left: 450rem;
  top: 200rem;
  width: calc(var(--width) - 450rem - 50em);
  height: calc(var(--height) - 200rem - 50em); */
  transition: opacity 0.75s;
}

.in {
  transition-timing-function: cubic-bezier(.33, 0, .66, 0);
  opacity: 1;
  z-index: 0;
}

.out {
  transition-timing-function: cubic-bezier(.33, 1, .66, 1);
  opacity: 0;
  z-index: -1;
}

iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1000;
  pointer-events: none;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 210rem;
}

#title * {
  position: absolute;
}

#title h1 {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  font-size: 0;
  filter: drop-shadow(0 10rem #555) drop-shadow(0 0 10rem black) drop-shadow(0 10rem 10rem black);
  /* text-shadow: 0 10rem #555, 0 0 20rem black, 0 10rem 20rem black; */
}

#title span {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 100rem;
  translate: 0 -200rem;
  animation: span-in 1s ease calc(var(--num) * 1s / 20) forwards, bob var(--title) ease-in-out calc(1s + var(--title) / 5 * var(--num)) infinite alternate;
}

@keyframes bob {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-5rem);
  }
}

@keyframes span-in {
  from {
    offset-distance: 0%;
  }

  to {
    offset-distance: 100%;
  }

  from {
    translate: calc(-100rem + 200rem / 5 * var(--num)) calc(-200rem + 400rem / 5 * var(--num));
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}

#title span:nth-child(1) {
  --num: 0;
}

#title span:nth-child(2) {
  --num: 1;
}

#title span:nth-child(3) {
  --num: 2;
}

#title span:nth-child(4) {
  --num: 3;
}

#title span:nth-child(5) {
  --num: 4;
}

#title span:nth-child(6) {
  --num: 5;
}

.content-title {
  font-size: 75rem;
  text-shadow: 0 7.5rem #555, 0 0 15rem black, 0 7.5rem 15rem black;
  text-align: center;
  margin: 20rem 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
  transition: translate var(--switch) ease;
}

.content-title.hide {
  translate: 0 -50rem;
}

#title svg {
  animation: title-in 1s ease forwards, title-anim 10s ease-in-out 1s infinite;
}

@keyframes title-in {
  from {
    scale: 0;
    rotate: 45deg;
    opacity: 0
  }

  25% {
    opacity: 0;
  }

  to {
    scale: 1;
    rotate: 0deg;
    opacity: 1;
  }
}

@keyframes title-anim {
  from {
    rotate: 0deg;
    scale: 1;
    filter: drop-shadow(0 0 2rem black);
  }

  33% {
    scale: 1.1;
  }

  50% {
    rotate: 5deg;
    scale: 1.05;
    filter: drop-shadow(0 0 1rem black);
  }

  to {
    rotate: 0deg;
    scale: 1;
    filter: drop-shadow(0 0 2rem black);
  }
}